<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comics</title>
</head>
<body>
  <h1>My Favorite Comics</h1>
  <br>
  <a href="/addComic">
    <button>Add Comic</button>
  </a>
  <br>
  <% for (let item of comicSitesInfo) { %>
    <a href="<%= item.comicSiteUrl %>"><%= item.comicSiteName %></a>
    <br>
  <% } %>
  <br>
  <h3>Random Comics</h3>
  <img src="<%= randomComic[0].comicUrl %>" width="800" id="comicImg">
  <br>
  <button id="randomComic">Random Comic</button>
  <script>
    document.querySelector("#randomComic").addEventListener("click", getRandomComic);
    async function getRandomComic() {
      let randomComic = await fetch('/api/randomComic');
      let comicData = await randomComic.json();
      console.log(comicData);
      const img = document.querySelector("#comicImg");
      img.src = comicData.comicUrl;
    }
  </script>
</body>
</html>